<mat-card>
    <mat-card-title>
        Criar um novo rolê
    </mat-card-title>
        <form>
            <mat-form-field>
                <input matInput
                       placeholder="Código"
                       [(ngModel)]="divida.id" name="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       placeholder="Valor da Dívida em R$"
                       [(ngModel)]="divida.valorDivida" name="price">
            </mat-form-field>
        </form>

    <button class="buttonGreen" mat-raised-button
            (click)="cadastrarIngresso()">
        Salvar
    </button>

    <button class="buttonRed" mat-raised-button
            (click)="cancelar()">
        Cancelar
    </button>
</mat-card>
