<mat-card>
    <mat-card-title>
        Cadastrar uma nova dívida
    </mat-card-title>
    <br/>
    <form [formGroup]="formulario">
        <div>
            <label for="txtCodigo">Código:</label>
            <br/>
            <input id="txtCodigo" name="txtCodigo" type="number" class="form-control" formControlName="id">
        </div>
        <br/>
        <div>
            <label for="txtTelefone">Telefone:</label>
            <br/>
            <input id="txtTelefone" name="txtTelefone" type="number" class="form-control"
                   formControlName="telefone">
        </div>
        <br>
        <div>
            <label for="txtValorDivida">Valor da Dívida:</label>
            <br/>
            <input id="txtValorDivida" name="txtValorDivida" type="number" class="form-control"
                   formControlName="valorDivida">
        </div>
        <br/>
        <div>
            <label for="txtQtdeParcelas">Quantidade Parcelas:</label>
            <br/>
            <input id="txtQtdeParcelas" name="txtQtdeParcelas" type="number" class="form-control"
                   formControlName="qtdeParcelas"
                   maxlength="100">
        </div>
        <br/>
        <div>
            <label for="txtPorcentagemComissao">Porcentagem Comissão:</label>
            <br/>
            <input id="txtPorcentagemComissao" name="txtPorcentagemComissao" type="number" class="form-control"
                   formControlName="porcentagemComissao">
        </div>
        <br/>
        <div>
            <label for="txtPorcentagemJuros">Porcentagem Juros:</label>
            <br/>
            <input id="txtPorcentagemJuros" name="txtPorcentagemJuros" type="number" class="form-control"
                   formControlName="porcentagemJuros">
        </div>
        <br/>
        <div>
            <label for="txtDiaVencimento">Data Vencimento:</label>
            <br/>
            <input id="txtDiaVencimento" name="txtDiaVencimento" type="date" class="form-control"
                   formControlName="diaVencimento">
        </div>


        <div>
            <label for="selTipoJuros">Tipo Juros:</label>
            <br/>
            <mat-select

                    name="selTipoJuros"
                    id="selTipoJuros"
                    formControlName="tipoJuros" class="form-control">
                <mat-option *ngFor="let item of tipoJuros | keyvalue"
                            [value]="item['key']">{{ item['value'] }}</mat-option>
            </mat-select>
        </div>

    </form>
    <br/>

    <button class="buttonGreen" mat-raised-button
            (click)="cadastrarDivida()">
        Salvar
    </button>

    <button class="buttonRed" mat-raised-button
            (click)="cancelar()">
        Cancelar
    </button>
</mat-card>
