.header{
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #4465ab, #5896e8);
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo{
    max-height: 62px;
}

.header .title-group{
    color: white;
}