.sidenav{
    background: linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(59,59,59,1) 83%, rgba(73,73,73,1) 100%);
    width: 200px;
}

.sidenav a {
    color: #FFFFFF;
}

.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: #FFFFFF;
}